body.landing { /*edits "landing" class*/
	background-color: rgb(58,23,63);
}

.hero-content {
     position: relative; 
     min-height: 600px; 
     background-image: url(../assets/images/bloc_jams_bg.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

.hero-content .hero-title {
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-50%); /*"The prefixes with names in dashes, like -webkit-, are known as vendor prefixes. Vendor prefixes are required for any CSS property that hasn't been officially adopted into the CSS3 specification. We're using the transform property and the translateY value to vertically center the text in the hero-content container. The three prefixes identify the transform property for the Webkit, Mozilla, and Microsoft-based browser, respectively."*/
	-moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;                  
    text-align: center;            
    font-size: 4rem;             
    font-weight: 300;               
    text-transform: uppercase;     
    letter-spacing: 0.5rem;         
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.selling-points {
	position: relative;
}

.point {
     position: relative;
     padding: 2rem;
     text-align: center;
}

.point .point-title {
	font-size: 1.25rem;
}

.ion-music-note, 
.ion-radio-waves, 
.ion-iphone {
     color: rgb(233,50,117);
     font-size: 5rem;
 }
/*These are the icons that were included in the second link tag of the html file. They import the icons, size them, and turn them a rad pink*/