html {
	height: 100%;
	font-size: 100%;
	/*page and font always load at device's defaults*/
}
	
body {
	font-family: 'Open Sans';
	color: white;
	min-height: 100%; /*body fills up 100% of display*/
}

body.landing { /*edits "landing" class*/
	background-color: rgb(58,23,63); 
}
.navbar { /*body is already declared, so you can just start with dot class*/
	padding: 0.5rem; /*rem is the font size of the root element*/
	background-color: rgb(101, 18, 95);
}

.navbar .logo { /*wouldn't run at first because I forgot dot on navbar class*/ 
	position: relative;
	left: 2rem;
}
/*"Notice that we've put .logo right after the .navbar class selector with a space separating them. This is called a descendant selector. The browser applies the style to elements of the logo class which are contained in elements of the navbar class..

"This is different from body.landing, which selects the body element that has the  .landing class applied to it, not to elements nested within it."*/

.hero-content {
     position: relative; 
     min-height: 600px; 
     background-image: url(../assets/images/bloc_jams_bg.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

.hero-content .hero-title {
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-50%); /*"The prefixes with names in dashes, like -webkit-, are known as vendor prefixes. Vendor prefixes are required for any CSS property that hasn't been officially adopted into the CSS3 specification. We're using the transform property and the translateY value to vertically center the text in the hero-content container. The three prefixes identify the transform property for the Webkit, Mozilla, and Microsoft-based browser, respectively."*/
	-moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;                  
    text-align: center;            
    font-size: 4rem;             
    font-weight: 300;               
    text-transform: uppercase;     
    letter-spacing: 0.5rem;         
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.selling-points {
	position: relative;
     display: table;
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.point {
	display: table-cell;
     position: relative;
     width: 33.3%;
     padding: 2rem;
     text-align: center;
}

.point .point-title {
	font-size: 1.25rem;
}

.ion-music-note, 
.ion-radio-waves, 
.ion-iphone {
     color: rgb(233,50,117);
     font-size: 5rem;
 }
/*These are the icons that were included in the second link tag of the html file. They import the icons, size them, and turn them a rad pink*/