.container{
	margin: 0 auto; /* 0 is up and down, auto controls left and right*/
	max-width: 64rem; /*Squish it in on the left and right*/
}

@media (min-width: 640px) { /*media query for small screens like phones and tablets*/
	html { font-size: 112%; } 
	
	.column {
		float: left; /*everything in the column class will stick to the leftmost side of its container, pulls it out of normal document flow*/
        padding-left: 1rem;
        padding-right: 1rem;
	}
  
    .column.full {width: 100; }
    .column.two-thirds {width: 66.7%; }
    .column.half {width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }  
}

@media (min-width: 1024px) { /*media query for large screens, i.e. computers; root em usually set to 16px in browsers*/
	html {font-size: 120%;}
}
*, *::before, *::after { /* The '*' is the universal selector- it applies styling to everything on the page. It kinda sucks for larger web pages though. Before and after are pseudo-elements...*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
	/*page and font always load at device's defaults*/
}
	
body {
	font-family: 'Open Sans';
	color: white;
	min-height: 100%; /*body fills up 100% of display*/
}

.navbar { /*body is already declared, so you can just start with dot class*/
	padding: 0.5rem; /*rem is the font size of the root element*/
	background-color: rgb(101, 18, 95);
}

.navbar .logo { /*wouldn't run at first because I forgot dot on navbar class*/ 
	position: relative;
	left: 2rem;
} /*"Notice that we've put .logo right after the .navbar class selector with a space separating them. This is called a descendant selector. The browser applies the style to elements of the logo class which are contained in elements of the navbar class. This is different from body.landing, which selects the body element that has the  .landing class applied to it, not to elements nested within it."*/

.clearfix::before,

.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
