.player-bar { /*fixed to bottom of window, padding added to album.css to prevent obscuring other elements*/
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 200px; /*if it were me, I'd probably go lower; looks better*/
     background-color: rgba(255, 255, 255, 0.3); /*notice it's been made transluscent*/
     z-index: 100; /*keeps it on top of all other elements*/
 }
 
.player-bar a {
     font-size: 1.1rem;
     vertical-align: middle;
 }
 
 .player-bar a, /*class assigned to puttons*/
 .player-bar a:hover {
     color: white;
     cursor: pointer;
     text-decoration: none;
 }
 
 .player-bar .container {
     display: table;
     padding: 0;
     width: 90%;
     min-height: 100%;
 }

/*START player controls*/

 .player-bar .control-group {
     display: table-cell;
     vertical-align: middle;
 }
 
 .player-bar .main-controls {
     width: 25%;
     text-align: left;
     padding-right: 1rem;
 }


 .player-bar .main-controls .previous {
     margin-right: 16.5%;  /*gives the buttons more space*/
 }
 
 .player-bar .main-controls .play-pause {
     margin-right: 15%; /*gives the buttons more space*/
     font-size: 1.6rem;
 }

 .player-bar .currently-playing { /*widest width, will take up most of player bar*/
     width: 50%;
     text-align: center;
     position: relative;
 }

/*the next few styles are for mobile devices; basically say to resize, get rid of song title, only display song+artist and artist name*/
 
.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-name,
.player-bar .currently-playing .artist-song-mobile {
     text-align: center;
     font-size: 0.75rem;
     margin: 0;
     position: absolute;
     width: 100%;
     font-weight: 300;
 }
 
 .player-bar .currently-playing .song-name,
 .player-bar .currently-playing .artist-song-mobile {
     top: 1.1rem;
 }
 
 .player-bar .currently-playing .artist-name {
     bottom: 1.1rem;
 }
 
 .player-bar .currently-playing .artist-song-mobile {
     display: none;
 }

/*after css above inserted, lost some display functionality*/
/*END player controls*/

/*START seek bar style*/
 
.seek-control {
     position: relative;
     font-size: 0.8rem;
 }
 
 .seek-control .current-time {
     position: absolute;
     top: 0.5rem;
 }
 
 .seek-control .total-time {
     position: absolute;
     right: 0;
     top: 0.5rem;
 }
 
 .seek-bar {
     height: 0.25rem;
     background-color: rgba(255, 255, 255, 0.3);
     border-radius: 2px;
     position: relative;
     cursor: pointer;
 }
 
 .seek-bar .fill { /*this is the actual line*/
     background-color: white;
     width: 36%;
     height: 0.25rem;
     border-radius: 2px;
 }
 
 .seek-bar .thumb {
     position: absolute;
     height: 0.5rem;
     width: 0.5rem;
     background-color: white;
     left: 36%;
     top: 50%;
     /*1 Negative margins account for the size increase and hold the element's position in place so that the change in size doesn't adjust the position of other elements.*/
     margin-left: -0.25rem;
     margin-top: -0.25rem;
     border-radius: 50%; /*makes it circular*/
     cursor: pointer;
     -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
             transition: all 100ms ease-in-out;
 }
 
 .seek-bar:hover .thumb { /*when you hover over, it increases size*/
     width: 1.1rem;
     height: 1.1rem;
     margin-top: -0.5rem;
     margin-left: -0.5rem;
 }

/*END seek bar style*/

/*START volume controls*/

 .player-bar .volume {
     width: 25%;
     text-align: right;
 }


 .player-bar .volume .icon {
     font-size: 1.1rem;
     display: inline-block;
     vertical-align: middle;
 }
 
 .player-bar .volume .seek-bar {
     display: inline-block;
     width: 5.75rem;
     vertical-align: middle;
 }

/*END volume controls*/

/*START mobile rendering*/

 @media (max-width: 640px) {
     .player-bar {
         padding: 1rem;
         background-color: rgba(0,0,0,0.6); /*transluscent black lets white text stand out better*/
     }
 
     .player-bar .main-controls,
     .player-bar .currently-playing,
     .player-bar .volume {
         display: block; /*stacks elements vertically*/
         margin: 0 auto;
         padding: 0;
         width: 100%; /*makes controls fill up width of screen*/
         text-align: center;
     }
     
     .player-bar .main-controls,
     .player-bar .volume {
         min-height: 3.5rem; /*all controls get a minimum height to display well*/
     }
     
     .player-bar .currently-playing {
         min-height: 2.5rem;
     }
      
     .player-bar .artist-name,
     .player-bar .song-name {
         display: none; /*hides these elements, makes screen less cluttered*/
     }
 
     .player-bar .currently-playing .artist-song-mobile {
         display: block;
     }
 }

/*END mobile rendering*/